<a href="https://colab.research.google.com/github/Chetangit-2006/python-programs/blob/main/Program_(string_list_tuple_dictionary).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String Programs

In [ ]:
# Task 1: Access and print characters from the string

str1 = "Hello"
for ch in str1:
    print(ch)

H
e
l
l
o

In [ ]:
# Task 2: Print a string and extract characters from the string

str1 = "Python"
print("String:", str1)
print("First character:", str1[0])
print("Last character:", str1[-1])

String: Python
First character: P
Last character: n

In [ ]:
# Task 3: Program to print words with their length of a string

str1 = "Python is easy"
words = str1.split()

for w in words:
    print(w, "=", len(w))

Python = 6
is = 2
easy = 4

In [ ]:
# Task 4: Print EVEN length words

str1 = "Python is very easy"
words = str1.split()

for w in words:
    if len(w) % 2 == 0:
        print(w)

Python
is
very
easy

In [ ]:
# Task 5: Count vowels in a string

str1 = "Hello World"
vowels = "aeiouAEIOU"
count = 0

for ch in str1:
    if ch in vowels:
        count += 1

print("Vowel count:", count)

Vowel count: 3

In [ ]:
# Task 6: Passing string value to the function

def greet(name):
    print("Hello", name)

greet("Aryan")

Hello Aryan

In [ ]:
# Task 7: Create multiple copies of a
#string using multiplication operator

str1 = "Hi "
print(str1 * 3)

Hi Hi Hi

In [ ]:
# Task 8: Append text at the end of the string using += operator

str1 = "Hello"
str1 += " World"
print(str1)

Hello World

In [ ]:
# Task 9: Concatenate two strings and assign in another string using + operator

str1 = "Hello"
str2 = "Python"
str3 = str1 + " " + str2

print(str3)

Hello Python

In [ ]:
# Task 10: Check if a substring is present in a string using 'in' operator

str1 = "Python Programming"

if "Python" in str1:
    print("Substring found")
else:
    print("Substring not found")

Substring found

In [ ]:
# Task 11: Assign Hexadecimal values in the string and print it in string format

str1 = "\x48\x65\x6C\x6C\x6F"
print(str1)

Hello

In [ ]:
# Task 12: Print double quotes with the string variable

str1 = "He said, \"Hello\""
print(str1)

He said, "Hello"

In [ ]:
# Task 13: Ignore escape sequences in the string

str1 = r"Hello\nWorld"
print(str1)

Hello\nWorld

In [ ]:
# Task 14: Calculate the number of all possible substrings of a string

str1 = "abc"
n = len(str1)

count = n * (n + 1) // 2
print("Total substrings:", count)

Total substrings: 6

In [ ]:
# Task 15: Reverse a given string using slicing

str1 = "Python"
print(str1[::-1])

nohtyP

In [ ]:
# Task 15: Reverse a given string using loop

str1 = "Python"
rev = ""

for ch in str1:
    rev = ch + rev

print(rev)

nohtyP

In [ ]:
# Task 15: Reverse a given string using reversed() function

str1 = "Python"
print("".join(reversed(str1)))

nohtyP

In [ ]:
# Task 15: Reverse a given string using while loop

str1 = "Python"
i = len(str1) - 1

while i >= 0:
    print(str1[i], end="")
    i -= 1

nohtyP

In [ ]:
# Task 15: Reverse a given string using recursion

def reverse(s):
    if len(s) == 0:
        return s
    return reverse(s[1:]) + s[0]

print(reverse("Python"))

nohtyP

In [ ]:
# Task 16: Reverse a string using stack

str1 = "Python"
stack = list(str1)
rev = ""

while stack:
    rev += stack.pop()

print(rev)

nohtyP

In [ ]:
# Task 16: Reverse a string using reversed() method

str1 = "Python"
print("".join(reversed(str1)))

nohtyP

In [ ]:
# Task 17: Split a string into array of characters

str1 = "Hello"
arr = list(str1)

print(arr)

['H', 'e', 'l', 'l', 'o']

In [ ]:
# Task 18: Program for slicing a string

str1 = "PythonProgramming"

print(str1[0:6])
print(str1[6:])
print(str1[::2])

Python
Programming
PtoPormig

In [ ]:
# Task 19: Repeat M characters of a string N times

str1 = "Python"
M = 3
N = 2

result = (str1[:M]) * N
print(result)

PytPyt

In [ ]:
# Task 20: Swap characters of a given string

str1 = "hello"
lst = list(str1)

lst[0], lst[-1] = lst[-1], lst[0]

str1 = "".join(lst)
print(str1)

oellh

List Programs

In [ ]:
# Task 1: Write a Python program to get the largest number from a list

numbers = [10, 45, 23, 89, 67]   # List of numbers

largest = numbers[0]             # Assume first number is largest

for num in numbers:              # Loop through list
    if num > largest:            # Compare each number
        largest = num

print("Largest number is:", largest)   # Print result

Largest number is: 89

In [ ]:
# Task 2: Write a Python program to print the numbers of a specified list after removing even numbers from it

numbers = [10, 15, 20, 25, 30, 35]   # Given list

result = []                         # Empty list to store odd numbers

for num in numbers:                 # Loop through list
    if num % 2 != 0:                # Check if number is odd
        result.append(num)          # Add odd number to new list

print("List after removing even numbers:", result)   # Print result

List after removing even numbers: [15, 25, 35]

In [ ]:
# Task 3: Write a program to reverse a list in Python

numbers = [10, 20, 30, 40, 50]   # Original list

numbers.reverse()                # Reverse the list

print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
# Task 4: Python program to square each element of a list

numbers = [2, 3, 4, 5]     # Given list
result = []

for num in numbers:
    result.append(num ** 2)

print("Squared list:", result)

Squared list: [4, 9, 16, 25]

In [ ]:
# Task 5: Python program to remove an empty element from a list

num = ["Hello", 34, 45, "", 40]   # Given list

result = []

for item in num:
    if item != "":
        result.append(item)

print("Result:", result)

Result: ['Hello', 34, 45, 40]

In [ ]:
# Task 6: Write a program to display items from a list that are divisible by 5

numbers = [10, 12, 15, 22, 25, 33, 40]

for num in numbers:
    if num % 5 == 0:
        print(num)

10
15
25
40

In [ ]:
# Task 7: Write a program to remove repetitive items from a list

num = [2, 3, 4, 5, 2, 6, 3, 2]   # Given list
result = []

for item in num:
    if item not in result:
        result.append(item)

print("Result:", result)

Result: [2, 3, 4, 5, 6]

In [ ]:
# Task 8: Write a program to append data of the second list to the first list

list1 = [23, 24, 25, 26]
list2 = [27, 28, 29, 30]

list1.extend(list2)   # Append list2 into list1

print("Result:", list1)

Result: [23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
# Task 9: Write a program to filter odd and even numbers from a list

numbers = [2, 23, 24, 51, 46, 67]   # Given list

even = []
odd = []

for num in numbers:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

print("Even:", even)
print("Odd:", odd)

Even: [2, 24, 46]
Odd: [23, 51, 67]

In [ ]:
# Task 10: Write a program to arrange elements in sorted order

numbers = [45, 12, 78, 34, 23]

numbers.sort()     # Sort list in ascending order

print("Sorted list:", numbers)

Sorted list: [12, 23, 34, 45, 78]

In [ ]:
# Task 11: Write a program to count the number of items in a list

numbers = [10, 20, 30, 40, 50]

count = len(numbers)

print("Total items:", count)

Total items: 5

In [ ]:
# Task 12: Reverse the order of elements in the list using indexing method

chars = ['A', 'B', 'C', 'D', 'E']   # List of characters

reversed_list = []

for i in range(len(chars)-1, -1, -1):
    reversed_list.append(chars[i])

print("Reversed list:", reversed_list)

Reversed list: ['E', 'D', 'C', 'B', 'A']

In [ ]:
# Task 13: Add item 7000 after 6000 in the given list

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)

print("Updated list:", list1)

Updated list: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
# Task 14: Replace first occurrence of 20 with 200 in the list

list1 = [5, 10, 15, 20, 25, 50, 20]

if 20 in list1:
    index = list1.index(20)
    list1[index] = 200

print("Updated list:", list1)

Updated list: [5, 10, 15, 200, 25, 50, 20]

In [ ]:
# Task 15: Find the range (difference between largest and smallest element) of a list

numbers = [10, 45, 23, 89, 67]

largest = max(numbers)
smallest = min(numbers)

range_value = largest - smallest

print("Range of list:", range_value)

Range of list: 79

In [ ]:
# Task 16: Insert a new element at a specific position in the list

numbers = [10, 20, 30, 40, 50]   # Original list

numbers.insert(2, 25)           # Insert 25 at index 2

print("Updated list:", numbers)

Updated list: [10, 20, 25, 30, 40, 50]

In [ ]:
# Task 17: Find the common elements between two lists

list1 = [10, 20, 30, 40]
list2 = [30, 40, 50, 60]

common = []

for item in list1:
    if item in list2:
        common.append(item)

print("Common elements:", common)

Common elements: [30, 40]

In [ ]:
# Task 18: Find the second smallest element in a list

numbers = [45, 12, 78, 34, 23]

numbers.sort()                 # Sort the list

second_smallest = numbers[1]   # Second element after sorting

print("Second smallest element:", second_smallest)

Second smallest element: 23

In [ ]:
# Task 19: Remove elements at even indices from a list

numbers = [10, 20, 30, 40, 50, 60]

result = []

for i in range(len(numbers)):
    if i % 2 != 0:          # Keep elements at odd indices
        result.append(numbers[i])

print("Updated list:", result)

Updated list: [20, 40, 60]

In [ ]:
# Task 20: Find the sum of elements at odd indices in a list

numbers = [10, 20, 30, 40, 50, 60]

total = 0

for i in range(len(numbers)):
    if i % 2 != 0:          # Odd index
        total += numbers[i]

print("Sum of elements at odd indices:", total)

Sum of elements at odd indices: 120

Tuple Programs

In [2]:
# 1. Create a tuple with three elements: 10, "hello", and 3.14.
t = (10, "hello", 3.14)
print(t)

(10, 'hello', 3.14)

In [3]:
# 2. Access and print the third element from (1, 2, 3, 4, 5).
t = (1, 2, 3, 4, 5)
print(t[2])

3

In [4]:
# 3. Concatenate (1,2,3) and (4,5,6) into a new tuple.
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [5]:
# 4. Unpack a tuple into three variables and print them.
a, b, c = (10, 20, 30)
print(a)
print(b)
print(c)

10
20
30

In [6]:
# 5. Check if 7 exists in (1, 3, 5, 7, 9).
t = (1, 3, 5, 7, 9)
print(7 in t)

True

In [7]:
# 6. Print slice from index 2 to 4 in (0,1,2,3,4,5).
t = (0, 1, 2, 3, 4, 5)
print(t[2:5])

(2, 3, 4)

In [8]:
# 7. Find the length of (10,20,30,40,50).
t = (10, 20, 30, 40, 50)
print(len(t))

5

In [9]:
# 8. Repeat (1,2,3) three times.
t = (1, 2, 3)
print(t * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [10]:
# 9. Convert list [1,2,3] into a tuple.
l = [1, 2, 3]
t = tuple(l)
print(t)

(1, 2, 3)

In [11]:
# 10. Find minimum and maximum in (5,12,3,8,15).
t = (5, 12, 3, 8, 15)
print("Min:", min(t))
print("Max:", max(t))

Min: 3
Max: 15

In [12]:
# 11. Count occurrences of 2 in (1,2,3,2,4,2).
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))

3

In [13]:
# 12. Check if all elements are True in (True, True, False).
t = (True, True, False)
print(all(t))

False

In [14]:
# 13. Find index of first occurrence of 3.
t = (1, 2, 3, 4, 3, 5)
print(t.index(3))

2

In [15]:
# 14. Sort (5,2,8,1,3) and store in new tuple.
t = (5, 2, 8, 1, 3)
sorted_t = tuple(sorted(t))
print(sorted_t)

(1, 2, 3, 5, 8)

In [16]:
# 15. Create tuple of squares from 1 to 5.
t = tuple(i*i for i in range(1, 6))
print(t)

(1, 4, 9, 16, 25)

In [17]:
# 16. Create a tuple.
t = ("apple", "banana", "cherry")
print(t)

('apple', 'banana', 'cherry')

In [18]:
# 17. Create a tuple with different data types.
t = (100, "Python", 3.14, True)
print(t)

(100, 'Python', 3.14, True)

In [19]:
# 18. Create a tuple of numbers and print one item.
t = (10, 20, 30, 40)
print(t[1])

20

In [20]:
# 19. Unpack a tuple into several variables.
t = (5, 10, 15)
a, b, c = t
print(a)
print(b)
print(c)

5
10
15

In [21]:
# 20. Write a Python program to add an item to a tuple.

# Original tuple
t = (1, 2, 3)

# Adding new item (since tuple is immutable, create a new tuple)
t = t + (4,)

print("Updated tuple:", t)

Updated tuple: (1, 2, 3, 4)

Dictionary Program

In [22]:
# 1. Add a key to a dictionary.

d = {0: 10, 1: 20}
d[2] = 30

print(d)

{0: 10, 1: 20, 2: 30}

In [23]:
# 2. Concatenate multiple dictionaries into a new one.

dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

new_dic = {}
new_dic.update(dic1)
new_dic.update(dic2)
new_dic.update(dic3)

print(new_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:
# 3. Check whether a given key already exists in a dictionary.

d = {1: 10, 2: 20, 3: 30}

key = 2

if key in d:
    print("Key exists")
else:
    print("Key does not exist")

Key exists

In [25]:
# 4. Iterate over a dictionary using for loop.

d = {1: 10, 2: 20, 3: 30}

for key, value in d.items():
    print(key, value)

1 10
2 20
3 30

In [26]:
# 5. Generate dictionary (x, x*x) between 1 and n.

n = 5
d = {}

for x in range(1, n+1):
    d[x] = x * x

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [27]:
# 6. Print dictionary with keys 1 to 15 and square values.

d = {}

for x in range(1, 16):
    d[x] = x * x

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [28]:
# 7. Merge two Python dictionaries.

d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [29]:
# 8. Iterate over dictionary using for loop.

d = {'a': 10, 'b': 20, 'c': 30}

for key, value in d.items():
    print(key, value)

a 10
b 20
c 30

In [30]:
# 9. Sum all items in a dictionary.

d = {'a': 10, 'b': 20, 'c': 30}

total = sum(d.values())
print(total)

60

In [31]:
# 10. Multiply all items in a dictionary.

d = {'a': 2, 'b': 3, 'c': 4}

result = 1
for value in d.values():
    result *= value

print(result)

24

In [32]:
# 11. Remove a key from a dictionary.

d = {'a': 1, 'b': 2, 'c': 3}

d.pop('b')
print(d)

{'a': 1, 'c': 3}

In [33]:
# 12. Map two lists into a dictionary.

keys = ['a', 'b', 'c']
values = [1, 2, 3]

d = dict(zip(keys, values))
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [34]:
# 13. Sort dictionary by key.

d = {3: 30, 1: 10, 2: 20}

for key in sorted(d):
    print(key, d[key])

1 10
2 20
3 30

In [35]:
# 14. Get maximum and minimum values of a dictionary.

d = {'a': 5, 'b': 12, 'c': 3}

print("Maximum value:", max(d.values()))
print("Minimum value:", min(d.values()))

Maximum value: 12
Minimum value: 3

In [36]:
# 15. Get dictionary from an object's fields.

class Student:
    def __init__(self):
        self.name = "Aryan"
        self.age = 20

s = Student()
print(s.__dict__)

{'name': 'Aryan', 'age': 20}

In [37]:
# 16. Remove duplicate values from dictionary.

d = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

new_d = {}
for key, value in d.items():
    if value not in new_d.values():
        new_d[key] = value

print(new_d)

{'a': 1, 'b': 2, 'd': 3}

In [38]:
# 17. Check if dictionary is empty or not.

d = {}

if not d:
    print("Dictionary is empty")
else:
    print("Dictionary is not empty")

Dictionary is empty

In [39]:
# 18. Combine two dictionaries by adding values for common keys.

from collections import Counter

d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

result = Counter(d1) + Counter(d2)
print(result)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [40]:
# 19. Print all distinct values in a dictionary list.

data = [{"V":"S001"}, {"V":"S002"}, {"VI":"S001"}, {"VI":"S005"},
        {"VII":"S005"}, {"V":"S009"}, {"VIII":"S007"}]

unique_values = set()

for item in data:
    for value in item.values():
        unique_values.add(value)

print("Unique Values:", unique_values)

Unique Values: {'S009', 'S001', 'S005', 'S007', 'S002'}

In [41]:
# 20. Create and display all combinations of letters,
# selecting each letter from a different key in a dictionary.

data = {'1': ['a', 'b'], '2': ['c', 'd']}

for i in data['1']:
    for j in data['2']:
        print(i + j)

ac
ad
bc
bd