<a href="https://colab.research.google.com/github/Chetangit-2006/python-programs/blob/main/python_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
t=tuple("Hello")
t

('H', 'e', 'l', 'l', 'o')

In [ ]:
L=["a","e","i","o","u"]
T=tuple(L)
T

('a', 'e', 'i', 'o', 'u')

In [ ]:
t1=tuple(input("Enter element"))
t1

Enter element123

('1', '2', '3')

In [ ]:
#create empty tupple
t=()
print(t)
t=tuple()
print(t)

()
()

In [ ]:
#create
t=(1)
print(type(t))
t=(1,)
print(type(t))

<class 'int'>
<class 'tuple'>

In [ ]:
t1=eval(input("Enter the elements:"))
t1

Enter the elements:2,4.5,"hello"

(2, 4.5, 'hello')

In [ ]:
#create different tuple
t=(1,2,3,4)
print(t)
t=(1.2,1.2,1.4,"a")
print(t)
#nested tuple
t=(1,2,3,(44,55))
print("NESTED TUPPLE=>",t)

(1, 2, 3, 4)
(1.2, 1.2, 1.4, 'a')
NESTED TUPPLE=> (1, 2, 3, (44, 55))

In [ ]:
#crete tuple using tuple function
t=tuple("HELLO")
print(t)
l=[1,2,3,4,5]
t=tuple(l)
print(t)

('H', 'E', 'L', 'L', 'O')
(1, 2, 3, 4, 5)

In [ ]:
#slicing
t=(99,88,77,66,55,44,33,22)
print(t[0:5])  #0 to 3
print(t[::-1])  #reverse
print(t[-1:-5:-1])  #22,33,44,55  start :end-1:step

(99, 88, 77, 66, 55)
(22, 33, 44, 55, 66, 77, 88, 99)
(22, 33, 44, 55)

In [ ]:
#convert into tupple
l=[1,2,3]
print(tuple(l))
s="python"
print(tuple(s))
#conver dic to tuple
d={1:"a",2:"b",3:"c"}
print(tuple(d))  #by default key
print(tuple(d.values())) #here value take not keys

(1, 2, 3)
('p', 'y', 't', 'h', 'o', 'n')
(1, 2, 3)
('a', 'b', 'c')

In [ ]:
#packed and unpacked
t=1,2   #packed
print(t)
x,y=(1,2)  #unpacked
print(x,y)

(1, 2)
1 2

In [ ]:
#traversal
#user input and for loop tuple creation
t=tuple()
totalvalue=int(input("How many element u enter in tupple:"))
for i in range(totalvalue):
    val=int(input("Enter element:"))
    t=t+(val,)
print(t)

How many element u enter in tupple:5
Enter element:6
Enter element:8
Enter element:7
Enter element:9
Enter element:100000
(6, 8, 7, 9, 100000)

In [ ]:
#traversing tuple using for loop
t=(11,22,33,44,55,66)
for i in t:
    print(i,end=" ")

11 22 33 44 55 66

In [ ]:
t=(11,22,33,44,55,66)
for i in range(len(t)):
    print(t[i],end=" ")

11 22 33 44 55 66

In [ ]:
#concatenete,replicate,membership
t=(11,22,33)
print(t)
print(id(t))
t=t*3
print(t)
print(id(t))

(11, 22, 33)
133118203950976
(11, 22, 33, 11, 22, 33, 11, 22, 33)
133118204850944

In [ ]:
tpl = (10, 12, 14, 20, 22, 24, 30, 32, 34)

seq = tpl[3:-3]
print(seq)
print(tpl[3:30])
print(tpl[-15:7])
print(tpl[0:10:2])
print(tpl[0:10:3])
print(tpl[::3])

(20, 22, 24)
(20, 22, 24, 30, 32, 34)
(10, 12, 14, 20, 22, 24, 30)
(10, 14, 22, 30, 34)
(10, 20, 30)
(10, 20, 30)

In [ ]:
#tuple function
t=(11,22,33,44,44,55,44)
print(len(t))  #4
print(max(t))  #55
print(min(t))  #11
print(t.index(44))
print(t.count(44))
print(sum(t))
print(sorted(t))
print(sorted(t,reverse=True))

7
55
11
3
3
253
[11, 22, 33, 44, 44, 44, 55]
[55, 44, 44, 44, 33, 22, 11]

In [ ]:
tuple = (10, "hello", 3.14)
print(tuple)

(10, 'hello', 3.14)

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[2])

3

In [ ]:
#create dictionary
dic={ }  #empty dictionary
print(dic)
print(type(dic))
d=dict()
print(d)
print(type(d))
d={1:"x",2:"y",3:"z"}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{}
<class 'dict'>
{}
<class 'dict'>
{1: 'x', 2: 'y', 3: 'z'}
dict_keys([1, 2, 3])
dict_values(['x', 'y', 'z'])
dict_items([(1, 'x'), (2, 'y'), (3, 'z')])

In [ ]:
#four ways to create dictionary
d1= {"a":"apple","b":"orange","c":"mango"}
d2=dict(a="apple",b="orange",c="mango")
d3=dict([("a","apple"),("b","orange"),("c","mango")])
d4=dict({"a":"apple","b":"orange","c":"mango"})
print(d1==d2==d3==d4)

True

In [ ]:
d={1:"xx",2:"yy",3:"uu"}
print(d[2])#1 indicate key

yy

In [ ]:
#create empty dictionary and add item
d1=dict()
d1[1]="one"
d1[2]="two"
d1[3]="three"
d1[4]="four"
print(d1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
#dictionary traversal
d={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
for i in d:
    print(i,end=" ")#keys print
print()
for i in d:
    print(d[i],end=" ")#value of key print
print()
for i in d.values():
    print(i,end=" ")
print()
for i in d:
    print("key=>",i,"value=>",d[i])#value of key print

1 2 3 4
one two three four
one two three four
key=> 1 value=> one
key=> 2 value=> two
key=> 3 value=> three
key=> 4 value=> four

In [ ]:
d={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
d[5]="five"
print(d)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [ ]:
#copy dictionaryy
d1={1:"one",2:"two",3:"three",4:"four"}
d2=d1
print(id(d1))
print(id(d2))

135528949899776
135528949899776

In [ ]:
#len()
d={ 2: 'two',1: 'one',4: 'four',3: 'three'}
print(len(d))

4

In [ ]:
#get(some_key,[default value])
d={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
print(d.get(1,"key not present"))#mila tao valu otherwise string print

one

In [ ]:
#d.clear()
#formkey
keys=[1,2,3,4]
d=dict.fromkeys(keys,"one")
print(d)

{1: 'one', 2: 'one', 3: 'one', 4: 'one'}

In [ ]:
#update
d1={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
d2={5:"five"}
d1.update(d2)
print(d1)
print(d2)

{1: 'five', 2: 'two', 3: 'three', 4: 'four'}
{1: 'five'}

In [ ]:
#del
d1={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
del d1[1]
print(d1)
#del d1
print(d1)#error dictionary deleted

{2: 'two', 3: 'three', 4: 'four'}
{2: 'two', 3: 'three', 4: 'four'}

In [ ]:
#pop()
d={1: 'one', 2: 'two', 3: 'three', 4: 'four'}
d.pop(1)#by default last key pair deleted nahi hoti
print(d)
#print(d.pop()) #no argument genertae error

{2: 'two', 3: 'three', 4: 'four'}

In [ ]:
text="python"
print(text[0])

p

In [ ]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count